.authorization {
  max-width: 413px;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  &__inner {
    margin-bottom: 43px;
    padding: 30px 16px 50px;

    @media (min-width: $tablet) {
      padding-right: 24px;
      padding-left: 24px;
    }
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 21px;
    font-weight: normal;
    line-height: 29px;
    color: $light-black;
    text-align: center;

    @media (min-width: $tablet) {
      margin-bottom: 48px;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 14px;
    }
  }

  &__button-theme {
    margin-bottom: 30px;
    color: $white;
    background-color: $purple;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.5);
  }
}
