.change-link {
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: $light-black;
  text-transform: uppercase;

  &--button {
    display: block;
    padding: 8px 0;
    width: 80px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  &--mobile {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &--display {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }
}
