.form {
  background-color: $white;

  &__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 21px;
  }

  &__input {
    margin-bottom: 16px;

    &--indent {
      margin-bottom: 20px;
    }
  }

  &__box {
    padding-left: 34px;
  }
}
