.link {
  font-size: 12px;
  line-height: 16px;
  color: $blue;

  @media(min-width: $tablet) {
    font-size: 14px;
    line-height: 19px;
  }

  &--size-m {
    @media(min-width: $tablet) {
      font-size: 12px;
    }
  }
}
