.progress-list {
  display: none;

  @media(min-width: $tablet) {
    @include reset-list;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 16px;
  }

  &__item {
    &--active {
      color: $light-black;
    }
  }
}
