$grey: #999999;
$light-grey: #cccccc;
$white: #ffffff;
$black: #000000;
$light-black: #333333;
$blue: #26aded;
$purple: #6039aa;

$body-background: #f7f5fa;
$color-bar: rgba(153, 153, 153, 0.2);

$tablet: 768px;
$desktop: 1440px;
