// Color
$grey: #999999;
$light-grey: #cccccc;
$white: #ffffff;
$black: #000000;
$light-black: #333333;
$blue: #26aded;
$purple: #6039aa;
$orange: #fb9700;
$green: #32d6bd;

$body-background: #f7f5fa;
$color-bar: rgba(153, 153, 153, 0.2);

// Media
$max-mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
